<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'TechJobs' + ${title == null ? '' : ' :: ' + title}">TechJobs</title>
</head>

<body>

    <div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a th:href="@{/}" class="navbar-brand">TechJobs</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/search}">Search</a></li>
                    <li><a th:href="@{/list}">List</a></li>
                </ul>
            </div>
        </div>
    </div>

    <table th:fragment="job-listing" class="job-listing">
        <tr th:each="jobs : ${jobs}">
            <td>
                <p><b>ID:</b> <span th:text = "${jobs.id}"></span></p>
                <p><b>Name:</b> <span th:text = "${jobs.name}"></span></p>
                <p><b>Employer:</b> <span th:text = "${jobs.employer}"></span></p>
                <p><b>Location:</b> <span th:text = "${jobs.location}"></span></p>
                <p><b>Position Type:</b> <span th:text = "${jobs.positionType}"></span></p>
                <p><b>Core Skills:</b> <span th:text = "${jobs.coreCompetency}"></span></p>
            </td>
        </tr>
    </table>

</body>
</html>